<div class="landingpage">
    <div class="header">
        <div class='conteudo'>
            <button (click)="login()">
                <mat-icon>
                    account_circle
                </mat-icon>
                Administrador
            </button>

            <h1>VerdeFlor</h1>

            <p>Cuidados para o seu jardim</p>
        </div>
    </div>

    <div class="corpo">
        <div class="sobrenos">
            <h1>SOBRE NÓS</h1>

            <div class='conteudo'>
                <img src="../../../assets/images/sobreNos.png" alt="" />

                <p>
                    Com anos de experiência em jardinagemo, a VerdeFlor oferece serviços
                    personalizados que atendem às suas necessidades e elevam a beleza do
                    seu espaço ao próximo nível. Seja para manter seu jardim sempre bem cuidado
                    ou criar um projeto paisagístico dos seus sonhos, nós estamos aqui para ajudar!
                    Desde a manutenção regular até o plantio de flores, árvores e hortas, garantimos
                    um trabalho de alta qualidade e dedicação em cada detalhe.
                </p>
            </div>
        </div>

        <div class="servicos">
            <h1>SERVIÇOS</h1>

            <p>Com a VerdeFlor, você pode contratar serviços como:</p>

            <div class="cards">
                <div class='component-servicoscards1'>
                    <p>Manutenção de Jardim</p>
                </div>

                <div class='component-servicoscards2'>
                    <p>Plantio de Flores e Árvores</p>
                </div>

                <div class='component-servicoscards3'>
                    <p>Instalação de Sistemas de Irrigação</p>
                </div>

                <div class='component-servicoscards4'>
                    <p>Cuidados com Hortas Residenciais</p>
                </div>
            </div>
        </div>

        <div class="parceiros">
            <h1>PARCEIROS: </h1>

            <img src="../../../assets/images/parceiro1.png" alt="">
            <img src="../../../assets/images/parceiro2.png" alt="">
            <img src="../../../assets/images/parceiro3.png" alt="">
        </div>
    </div>

    <div class="footer">
        <div class="conteudo">
            <h2>Entre em contato: </h2>

            <div class="redes">
                <div>
                    <div>
                        <img src="../../../assets/images/logoInstagram.png" alt="">
                        <p>verdeflor.jardim</p>
                    </div>
                </div>

                <div>
                    <div>
                        <img src="../../../assets/images/logoFacebook.png" alt="">
                        <p>VerdeFlor</p>
                    </div>
                </div>

                <div>
                    <div>
                        <img src="../../../assets/images/logoWhatsapp.png" alt="">
                        <p>11 91234-5678</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>