<div class="pagina-login">
    <img src="../../../assets/images/loginImage.png" alt="" class="imagem" />
    <div class="conecte">
      <div class="textos">
        <h2>Conecte-se</h2>
        <p>Bem-vindo de volta! <br />Por favor, entre em sua conta:</p>
      </div>
  
      <div class="campo">
        <img src="../../../assets/images/email.png" class="icones" />
        <input type="text" placeholder="Digite seu e-mail" [(ngModel)]="user.email" name="user.email" />
      </div>
  
      <div class="campo">
        <img src="../../../assets/images/senha.png" id="senha" />
        <input type="password" placeholder="Digite sua senha" [(ngModel)]="user.senha" name="user.senha" />
      </div>
  
      <button (click)="logar()" mat-stroked-button>ENTRAR <mat-icon>login</mat-icon></button>
    </div>
  </div>
  